/* media for navbar */
@media screen and (max-width: 1101px) {
    .nav-search{
        width: 350px;
    }
  }
@media screen and (max-width:991px) {
    .nav-search{
        width: 280px;
    }
    /* this is  for card sections  */
    .frist-card{
      width: 30%;
  }
  .card-p{
    font-size: 13px;
  }
  .box-hedding{
    font-size: 1rem;
  }
  /* footer responsive sections */
  .footer-list{
    width: 50%;
    text-align: center;
  }
  
  }
@media screen and (max-width:476px) {
    .nav-search{
        width: 100%;
    }
    .navbar-input{
        margin: 30px;
    }
    /* footer content */
    .footer-main{
      flex-direction: column;
      gap: 20px;
    }
  }
/* shop box elactronic */
@media screen and (max-width:576px) {
    .card-main{
        width: 290px;
    }
  }
@media screen and (max-width:768px) {
    
    /* this is for box card */
    .frist-card{
      width: 48%;
  }
  /* service section */
  .service-section{
    flex-direction: column-reverse;
  }
  .service-left{
    width: 100%;
}
.service-right{
    width: 100%;
}
/* responsive form */
.form-response{
  width: 100%;
  height: 100%;
}
  }
@media screen and (max-width:352px) {
    /* this is for box card */
    .frist-card{
      width: 80%;
  }
  .cart-for-shopping{
    justify-content: center;
  }
  .box-btn{
    height: 10px;
  }
  }